<div class="card">
    <img src="/media/{{ slide.image_path }}/thumbnail.png" class="card-img-top" alt="{{ slide.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ slide.name }}</h5>
        <p class="card-text">{{ slide.description|default:""|truncatewords:20 }}</p>
        <div class="d-flex justify-content-between">
            <div class="btn-group">
                <a href="{% url 'slide_viewer:slide_view' slug=slide.slug %}" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-outline-primary">Details</a>
            </div>
            <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">Edit</a>
                <a href="#" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
        {% if slide.tags.all %}
        <div class="mt-2">
            {% for tag in slide.tags.all %}
            <span class="badge rounded-pill text-bg-secondary me-1">{{ tag.name }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>