{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Welcome to Virtual Microscope</h1>

<div class="row g-4">
    {% if show_slide_list %}
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Slides Collection</h5>
                <p class="card-text">View all available microscope slides in the collection.</p>
                <a href="{% url 'slides:department_list' %}" class="btn btn-primary">
                    <i class="bi bi-microscope"></i> View Slide List
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h5 class="card-title">Welcome, {{ user.username }}</h5>
                <p class="card-text">
                    Name: {{ user.get_full_name }}<br>
                    Last login: {{ user.last_login|date:"F j, Y, g:i a" }}
                </p>
                {% else %}
                <h5 class="card-title">Welcome to Virtual Microscope</h5>
                <p class="card-text">Please log in to access all features.</p>
                <div class="d-grid gap-2">
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </a>
                    <a href="{% url 'register' %}" class="btn btn-outline-primary">
                        <i class="bi bi-person-plus"></i> Register
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
